/**********************************
 * AENOA CSS FRAMEWORK
 * http://www.aenoa-systems.com/acf
 * 
 * (c) Aenoa Systems 2010 - 2011
 *
 * Author : Xavier Laumonier
 *
 **********************************/
/**
 * This package provides styles for form controls.
 */


fieldset {
	border: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

legend {
	font-size: 1.2em;
	padding: 0em 0.5em 0 0.5em;
	line-height: 1;
	margin: 0;
	margin-left: 10px;
}

label {
	line-height: 1.5;
	padding: 4px 10px 0 10px;
}

input[type="submit"], input[type="button"], input[type="file"], input[type="text"], input[type="password"], select, *[data-behavior="as-input"] {
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding: 7px 15px 3px 15px;
	color: #000;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
input[type="file"] {
	padding: 3px 5px 3px 5px;
}
select {
	padding: 0
}

input[type="button"] {
	font-weight: bold;
}
input[type="submit"] {
	border-color: #ccc;
	background-color: #f4f4f4;
	font-weight: bold;
}
input[type="submit"]:hover, input[type="button"]:hover , input[type="submit"]:focus, input[type="button"]:focus {
	background-color: #fafafa;
	border-color: #ddd;
	color: #666;
	cursor: pointer;
	-moz-box-shadow: 0px 0px 3px #aaa;
	 -webkit-box-shadow: 0px 0px 3px #aaa;
	 box-shadow: 0px 0 3px #aaa;
}
input[type="submit"]:active, input[type="button"]:active {
	background-color: #eee;
	border-color: #666;
}

input[type="text"], input[type="password"], div[data-behavior="as-input"] {
	padding: 4px;
	height: 18px;
	margin-bottom: 1px;
}
input[type="text"].mini, div[data-behavior="as-input"].mini {
	width: 30px;
}


input[type="text"].idle, textarea.idle, div[data-behavior="as-input"].idle {
	color: #888;
}
input[type="text"].empty-focused, textarea.empty-focused, div[data-behavior="as-input"].empty-focused {
	color: #444;
}

input[readonly], div[data-behavior="as-input"] {
	color: #000;
	background: transparent;
	overflow: hidden;
}

input:hover,
textarea:hover,
select:hover
{
	-moz-box-shadow: 0px 0px 5px #aaa;
	 -webkit-box-shadow: 0px 0px 5px #aaa;
	 box-shadow: 0px 0 5px #aaa;
}

input:active, input:focus,
textarea:active, textarea:focus,
select:active, select:focus {
	background-color: #fff;
	border-color: #888;
	-moz-box-shadow: 0px 0px 5px #000;
	 -webkit-box-shadow: 0px 0px 5px #000;
	 box-shadow: 0px 0 5px #000;
}
input[readonly]:active, 
input[readonly]:focus, div[data-behavior="as-input"]:active {
	background: transparent;
}

div[data-read-only], input[readonly] {
	background: #eaeaea;
}

input[type="radio"] {
	clear: none;
}
input[type="radio"]:hover {
	cursor: pointer;
}
textarea, .textarea, .suggestions {
	background-color: #fafafa;
	border: 1px solid #ccc;
	margin-right: 5px;
	margin-left: 5px;
	width: 92%;
	height: 130px;
	font-size: 0.9em;
	padding: 5px 5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.textarea {
	overflow: scroll;
}

.button {
	cursor: pointer;
}

input[type="radio"] , input[type="checkbox"] {
	margin-left: 10px;
}



.control {
	width:96%;
	float: left;
	padding-left: 2%;
	margin-left: 1%;
	border-bottom: 1px dotted #eee;
	padding-top: 5px;
	padding-bottom: 5px;
}
.control.control-last {
	border: 0;
}

.control-50 .control {
	width: 47%;
}

.control-33 .control {
	width: 30%;
}

.error-msg {
	float: right;
	width: 30%;
	background: url(img/error.png) no-repeat center left;
	padding-left: 20px;
	color: #d11;
}

.control label {
	float: left;
	width: 20%;
}
.control label span {
	font-style: italic !important;
}
.control input, .control select, .control ul, .control div[data-behavior="as-input"] {
	float: left;
	margin-left: 1%;
	max-width: 40%;
}
.control textarea {
	width: 30%;
}

.control ul li, .control li {
	list-style-type: none;
	float: left;
	width: 100%;
	margin: 0 0 5px 0;
}
.control ul li label {
	padding-top: 1px;
}
.control .description {
	float: right;
	width: 30%;
	color: #444;
	font-size: 1em;
}
.submit {
	text-align: right;
	margin: 5px 10px 0 0;
	padding: 5px;
	float: left;
	width: 96%;
}

.valid {
	border: 1px solid #00cc00 ;
}
.invalid {
	border: 1px solid #cc0000 ;
}
.invalid label {
	 color: #f00;
}
input.invalid , div[data-behavior="as-input"].invalid , img.invalid, textarea.invalid {
	border: 1px solid #cc0000 ;
}
input.valid {
	border: 1px solid #00cc00 ;
}

h1.control, h2.control, h3.control {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
}

input[type="text"].title, div[data-behavior="as-input"].title {
	padding: 6px 1.2em ;
	width: 350px;
	font-size: 1.2em ;
}

input[data-field-type="color-picker"], input[data-field-type="color-picker"].valid, input[data-field-type="color-picker"].invalid {
	border-width: 2px;
	border-color: #ddd ;
}
input[data-field-type="color-picker"]:hover {
	border-color: #aaa;
	cursor: pointer;
}
input.no-input-style, input.no-input-style:focus, input.no-input-style:active, input.no-input-style:hover {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
	border: 0 ;
	background: transparent;
	padding: 0;
	margin: 0;
}
input[type="text"].wide {
	width: 350px;	
}



